*{
	margin: 0px
}

h2{
	margin: 5px;
}

#contenedor{
	border: 5px solid green;
	height: 600px;
	margin: auto;
	width: 1000px;
}

#encabezado{
	border: 1px solid red;
	height: 100px;
	width: 1000px;
}

#navegacion{
	border: 1px solid blue;
	height: 50px;
	width: 1000px;
}

#seccion{
	border: 1px solid green;
	float: left;
	height: 339px;
	width: 600px;
}

.articulo{
	border: 1px solid red;
	height: 169px;
	width: 600px;
}

#aparte{
	border: 1px solid blue;
	float: right;
	height: 339px;
	width: 390px;
}

#pie_pagina{
	border: 1px solid black;
	clear: both;
	height: 100px;
	width: 1000px;
}

.imagen1{
	height: 100px;
	width: 1000px;
}

.imagen2{
	height: 50px;
	width: 1000px;
}

.imagen3{
	height: 169px;
	width: 600px
}

.imagen4{
	height: 339px;
	width: 390px;
}