*{
	margin: 0px
}

h2{
	margin: 5px;
}

main{
	border: 5px solid green;
	height: 600px;
	margin: auto;
	width: 1000px;
}

header{
	border: 1px solid red;
	height: 100px;
	width: 1000px;
}

nav{
	border: 1px solid blue;
	height: 50px;
	width: 1000px;
}

section{
	border: 1px solid green;
	float: left;
	height: 339px;
	width: 600px;
}

article{
	border: 1px solid red;
	height: 169px;
	width: 600px;
}

aside{
	border: 1px solid blue;
	float: right;
	height: 339px;
	width: 390px;
}

footer{
	border: 1px solid black;
	clear: both;
	height: 100px;
	width: 1000px;
}

header img{
	height: 100%;
	width: 100%;	
}

.navega li{
	list-style: none;
	display: inline;
}